header {
  background-color: rgba(0, 0, 0, 0.863);
  color: rgb(224, 202, 202);

  display: flex;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  height: 4rem;
  gap: 1rem;
  color: white;

  margin: 0 auto;
}

header nav .logo,
header nav .item_menu {
  font-size: 1rem;
  text-decoration: none;
  color: antiquewhite;
}

header nav .logo {
  font-size: 1.2rem;
  font-weight: bold;
}


header nav ul {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
